*{
    margin:0px;
    padding:0px;
}
body{
    background-color:black;
}
p{
    padding:0px;
}
button{
    background:none;
    border:none;
}
img{
    vertical-align:bottom;
}
#container{
    width:80vw;
    margin:auto;
}
#title{
    position: relative;
    left:-3vw;
    width:100%;
    font-size:3vw;
    font-weight:700;
    color:rgb(168, 7, 7);
    text-align:center;
    padding:2vw;
}
#category-menus{
    width:100%;
    display:flex;
    justify-content:space-evenly;
    border-bottom:0.1vw solid white;
}
#category-menus button{
    font-size:1vw;
    padding-bottom:2vw;
    color:white;
    cursor:pointer;
}
#category-menus button:hover{
    color:rgb(168, 7, 7);
}
#movies{
    display:flex;
    width:100%;
    height:45vw;
}
#current-box{
    flex:4;
}
#category-box{
    flex:6;
}
.movie-text{
    color:white;
    text-align:center;
    padding:1vw;
    font-size:2vw;
    font-weight:700;
}
#current-movie{
    margin:auto;
    position:relative;
    width:30vw;
    height:40vw;
    overflow:hidden;
}
#left{
    position:absolute;
    color:white;
    z-index:1;
    width:8%;
    height:100%;
    left:0;
    display:flex;
    font-size:3vw;
    opacity:0.5;
    justify-content:end;
    align-items:center;
    cursor: pointer;
}
#right{
    position:absolute;
    color:white;
    z-index:1;
    height:100%;
    width:8%;
    right:0;
    font-size:3vw;
    opacity:0.5;
    display:flex;
    justify-content:start;
    align-items:center;
    cursor: pointer;
}
#left:hover, #right:hover{
    opacity:1;
}
#current-list{
    display:flex;
    width:660vw;
    height:100%;
    transform:translateX(-30vw);
}
.current-item{
    position:relative;
    width:30vw;
    padding:0 0.2vw;/*여백을 없애기 위함*/
    height:100%;
    box-sizing:border-box;
}
.current-item img{
    width:100%;
    height:100%;
}
#category-list{
    margin:auto;
    width:90%;
    height:40vw;
}
#list{
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    width:100%;
    height:36vw;
    
}
.category-item{
    width:11vw;
    margin-bottom:2vw;
    cursor:pointer;
}
.category-item img{
    width:100%;
    height:14.5vw;
}
.category-item p{
    text-align:center;
    font-size:1vw;
    color:white;
}
#pagination{
    width:100%;
    height:4vw;
    display:flex;
    justify-content:center;
    align-items:end;
}
#pagination button{
    font-size:1vw;
    font-weight:700;
    padding:0.5vw;
    color:white;
    cursor:pointer;
}
#pagination button:hover{
    color:rgb(168, 7, 7);
}
#search-box{
    display:none;
    justify-content:center;
    align-items:center;
    position:fixed;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:70vw;
    height:40vw;
    background-color:rgb(24, 24, 24);
    opacity:0.9;
    z-index:1;
}
#search-close{
    position:absolute;
    top:0;
    right:0;
    font-size:2vw;
    color:white;
    padding:2vw;
}
.search-close-button{
    cursor:pointer;
}
#text_search{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
#text_search p{
    font-size:3vw;
    padding:2vw;
    color:white;
}
#keyword{
    width:25vw;
    height:3vw;
    margin-right:1vw;
    font-size:2vw;
    border:0.2vw solid rgb(168, 7, 7);
}
#click_keyword{
    font-size:2vw;
    color:white;
    cursor:pointer;
}
#miniButton{
    display:none;
}
#subBox{
    position:fixed;
    top:0; bottom:0;
    width:50vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    left:-50vw;
    background-color:rgb(24, 24, 24, 0.9);
    z-index:1;
    overflow-y:auto;
}
#subBox>button{
    cursor:pointer;
    font-size:0.9em;
    padding:1vw;
    color:white;
}
#subBox>button:hover{
    color:rgb(168, 7, 7);
}
#subBox>span>button{
    width:100%;
    font-size:0.9em;
    text-align:end;
    padding:1vw;
}
#current_information{
    width:50%;
    margin:3vw auto;
    padding:1vw;
    color:white;
    font-size:1.3vw;
    font-weight:700;
    text-align:center;
    position:absolute;
    bottom:0;
    right:0;
    left:0;
    z-index:1;
    background-color:rgb(24, 24, 24, 0.8);
    cursor:pointer;
}
#movie_information{
    position:fixed;
    top:50px;
    left:0;
    right:0;
    margin:auto;
    width:30vw;
    border-radius:2%;
    z-index:-1;
    opacity:0;
    background-color:rgb(24, 24, 24, 0.9);
    overflow:hidden;
}
#information_title{
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:1.5vw;
    font-weight:700;
    padding:1vw;
    text-align:center;
    border-bottom:2px solid white;
}
#information_title p{
    flex:1;
}
#information_title button{
    font-size:1.5vw;
    font-weight:700;
    color:white;
    right:1vw;
    margin:auto 0;
}
.close_information:hover{
    cursor: pointer;
    color:rgb(168, 7, 7);
}
#information_section{
    width:100%;
    height:33vw;
    overflow-y:auto;
}
#information_section img{
    display:block;
    margin:1vw auto;
    width:80%;
}
#information_section p{
    color:white;
    font-size:1.2vw;
    padding:1vw;
}
#movie_star{
    text-align:center;
    margin:auto;
    color:white;
    font-size:1.5vw;
}
#movie_rating{
    color:white;
    text-align:center;
    font-size:1.2vw;
}
#block{
    position:fixed;
    z-index:-1;
    width:100vw;
    height:100vh;
    opacity:0;
    background-color:rgb(24, 24, 24, 0.9);
}
@media (max-width:1000px){
    #title{
        font-size:5vw;
    }
    #category-menus{
        display:none;
    }
    #movies{
        flex-direction:column;
        height:209vw;
    }
    #current-box{
        flex:5.5;
    }
    #category-box{
        flex:4.5;
    }
    .movie-text{
        font-size:4vw;
        padding:2vw;
    }
    #current-movie{
        width:70vw;
        height:90%;
    }
    #left, #right{
        font-size:6vw;
    }
    #current-list{
        width:1540vw;
        transform:translateX(-70vw);
    }
    .current-item{
        width:70vw;
    }
    #category-list{
        height:80vw;
    }
    #list{
        height:90%;
    }
    .category-item{
        width:19vw;
    }
    .category-item img{
        height:24vw;
    }
    .category-item p{
        font-size:1.8vw;
    }
    #pagination{
        height:10%;
        align-items:center;
    }
    #pagination button{
        font-size:2vw;
        padding:1vw;
    }
    #miniButton{
        display:block;
    }
    #miniButton button{
        font-size:2.5vw;
        color:white;
        margin:2vw 1vw;
        cursor: pointer;
    }
    #search-box{
        width:100vw;
    }
    #text_search p{
        font-size:4vw;
    }
    #keyword{
        width:40vw;
        height:6vw;
        font-size:4vw;
    }
    .sub-close-button{
        color:white;
        cursor:pointer;
    }
    #search-close{
        font-size:4vw;
        padding:4vw;
    }
    #click_keyword{
        font-size:4vw;
    }
    #current_information{
        font-size:3vw;
        padding:2.5vw;
    }
    #movie_information{
        width:60vw;
    }
    #information_title{
        font-size:3vw;
        padding:2vw;
    }
    #information_title button{
        font-size:3vw;
    }
    #information_section{
        height:70vw;
    }
    #information_section img{
        margin:2vw auto;
    }
    #information_section p{
        font-size:2.2vw;
        padding:2vw;
    }
    #movie_star, #movie_rating{
        font-size:2.2vw;
    }
}
@media (max-width:500px){
    #movies{
        height:330vw;
        overflow:hidden;
    }
    #current-box{
        flex:4;
    }
    #current-movie{
        width:80vw;
    }
    #current-list{
        width:1760vw;
        transform:translateX(-80vw);
    }
    .current-item{
        width:80vw;
    }
    #category-box{
        flex:6;
    }
    #category-list{
        width:100%;
        height:190vw;
    }
    #list{
        height:95%;
        justify-content:space-between;
    }
    .category-item{
        width:36vw;
    }
    .category-item img{
        height:50vw;
    }
    .category-item p{
        font-size:3vw;
    }
    #pagination{
        height:5%;
    }
    #pagination button{
        font-size:4vw;
        padding:1.5vw;
        color:white;
    }
    #miniButton button{
        font-size:4vw;
        margin:3vw 1vw;
    }
    #subBox>button, #subBox>span>button{
        font-size:0.8em;
        padding:1.5vw;
    }
    #current_information{
        font-size:4vw;
        padding:3vw;
    }
    #movie_information{
        width:100%;
    }
    #information_title{
        font-size:4vw;
        padding:4vw;
    }
    #information_title button{
        font-size:4vw;
    }
    #information_section{
        height:80vh;
    }
    #information_section img{
        margin:3vw auto;
    }
    #information_section p{
        font-size:4vw;
        padding:3vw;
    }
    #movie_star, #movie_rating{
        font-size:4vw;
    }
}
