body{
    background-color:black;
}
*{
    margin:0px;
    padding:0px;
}
p{
    margin:0px;
}
ul{
    list-style:none;
}
button{
    background:none;
    border:none;
    cursor:pointer;
}
.container{
    max-width:80vw;
}
img{
    width:100%;
}
.mobile-menu-list{
    position:fixed;
    width:0;
    height:100%;
    display:flex;
    left:0;
    flex-direction:column;
    overflow:hidden;
    transition:0.5s;
    background-color:yellow;
}
.mobile-menu-list button:first-child{
    text-align:right;
    padding-right:1em;
}
#mobile-menu{
    display:none;
}
#close-mobile-menu-list{
    text-align:right;
    padding:1em;
}
#title{
    margin:1em;
    width:100%;
    text-align:center;
    color:rgb(168, 7, 7);
}
.category{
    width:100%;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    padding:1.5em;
    border-bottom: 3px white double;
}
.category button{
    color:white;
}
.category button:hover{
    color:rgb(168, 7, 7);
}
#movie-list{
    display:flex;
}
#current-movie{
    display:flex;
    flex-direction:column;
    align-items:center;
}
#current-movie img{
    padding:1em;
    box-sizing:border-box;
}
.current-poster{
    height:100%;
    width:30vw;
    overflow:hidden;
    position: relative;
}
#left{
    position:absolute;
    left:0;
    height:100%;
    color:white;
    display:flex;
    align-items:center;
    font-size:3vw;
    z-index:1;
}
#right{
    right:0;
    height:100%;
    color:white;
    position:absolute;
    display:flex;
    align-items:center;
    font-size:3vw;
    z-index:1;
}
#current-poster-list{
    width:660vw;
    display:flex;
    height:100%;
    transition:1s;
    transform:translateX(-30vw);
}
.img_poster{
    width:30vw;
}
#Types-of-movies{
    display:flex;
    flex-direction:column;
    align-items:center;
}
#movie-item{
    display:flex;
    flex-wrap:wrap;
}
.item{
    padding:1em;
    text-align:center;
    cursor:pointer;
}
.item img{/*크기가 다른 포스터 들이 있어서 적용*/
    height:80%;
}
.page-item{
    cursor: pointer;
}
.search_box{
    display:flex;
    justify-content:center;
    align-items:center;
    position:fixed;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:80%;
    height:80%;
    background-color:gray;
    opacity:0;
    z-index:-1;
    transition:1s;
}
.search_close{
    position:absolute;
    top:0;
    right:0;
    padding:1em;
}
.pagination li>a{
    background:none;
    border:0;
    color:white;
}
.pagination li>a:hover{
    color:rgb(168, 7, 7);
}
@media (max-width:1000px){
    #movie-list{
        flex-direction:column;
    }
    #current-movie{
        width:100%;
    }
    .current-poster{
        width:60vw;
    }
    #current-poster-list{
        width:1320vw;
        transform:translateX(-60vw);
    }
    .img_poster{
        width:60vw;
    }
    #Types-of-movies{
        width:100%;
    }
    #mobile-menu{
        display:block;
    }
    .category{
        display:none;
    }
}
